:root {
  --primary-color: #333333;
  --secondary-color: #3f2aff
}

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 60px;
  font-size: 60px;
  color: var(--primary-color);
}

h2,
h3 {
  margin: 0;
  margin-bottom: 10px;
  line-height: 46px;
  font-size: 40px;
  color: var(--primary-color);
}

h3 {
  line-height: 34px;
  font-size: 30px;
}


figcaption {
  margin: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  /*font-size: 0;*/ /*fix*/
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border: 1px solid #b6b6b6;
  border-top: none;
}

p {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 872px;
  color: var(--primary-color);
}

img {
  padding-top: 19px;
  padding-bottom: 19px;
}

figure>img {
  border: none;
}

p:last-child {
  margin-bottom: 0;
}


.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.content {
  margin: 0;
  padding-left: 15px;
}

.content>li:not(:last-child) {
  margin-bottom: 20px;
}

.content>li>a {
  text-decoration: underline;
  font-size: 20px;
  color: var(--secondary-color);
}

.content li::marker {
  color: var(--secondary-color);
  font-size: 1.1em;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40;
  background-position: right center;
  background-repeat: no-repeat;
}

.bg-pic1 {
  background-image: url(../img/decorate-1.png);
}

.bg-pic2 {
  background-image: url(../img/decorate-2.png);
}

.gray-block:last-child {
  margin-bottom: 0;
}

.gray-block p {
  width: 692px;
  margin: 0;
  margin-bottom: 10px;
}


.gray-block p:last-child {
  margin-bottom: 0;
}

.container>div>img {
  margin-bottom: 40px;
}

.highlighted {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: var(--secondary-color);
}
