:root {
  --skillbox-color: #3f2aff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

a {
  font-weight: 700;
  font-size: 18px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.nav-bar {
  margin-bottom: 50px;
}

.nav-bar a {
  display: inline-block;
  padding: 24px 49px;
  background-color: var(--skillbox-color);
}

.nav-bar a:not(:last-child) {
  margin-right: 25px;
}

.dwn-link {
  padding-left: 30px;
  color: var(--skillbox-color);
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/* CSS for modules */
.container {
  max-width: 1200px;
  padding: 80px 0;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 137px;
  height: 30px;
  left: 375px;
  top: 50px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.go-main {
  display: block;
  margin-top: -24px;
  margin-bottom: 24px;
  padding-left: 60px;
  background-image: url("../img/Arrow 1.svg");
  background-position: 0 6px;
  background-repeat: no-repeat;
  color: var(--skillbox-color);
  font-weight: lighter;
}

.main-title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--skillbox-color);
  font-size: 60px;
}
.cards {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
}

.cards__item {

  display: inline-block;
  position: relative;
  vertical-align: top; /* Fix */
  width: 572px;
  height: 505px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 180px;
  box-sizing: border-box;
  background-color: white;
  background-repeat: no-repeat;
  background-size:contain;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.bg-img-1 {background-image: url("../img/card-image-4.png");}

.bg-img-2 {background-image: url("../img/card-image-2.png");}

.bg-img-3 {background-image: url("../img/card-image-3.png");}

.bg-img-4 {background-image: url("../img/card-image-1.png");}

.cards__item-title {
  margin: 0;
  padding-top: 24px;
  color: var(--skillbox-color);
  font-weight: bolder;
  font-size: 30pt;
  padding-left: 28px;
}

.cards__item-list {
  list-style-type: none;
  padding-left: 27px;
  font-size: 18px;
}

.cards__item-list>li:not(:last-child) {
  margin-bottom: 15px;
}

.cards__item-page {
  vertical-align: bottom; /* Fix */
  display: inline;
  position: absolute;
  top: 400px;
  left: 500px;
  font-weight: lighter;
  font-size: 40px;
  color: #eaeaea;
  text-align: right;

}



.btn {
  margin:auto;
  display:block;
  padding: 0;
  width: 260px;
  height: 64px;
  text-align: center;
  font-weight: bold;
  color: var(--skillbox-color);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--skillbox-color);

}
